.about-me
    background-color $brown
    background-image none
    height auto

    .copy
        background-color rgba(255, 255, 255, 0.7)
        box-shadow 0px 14px 0px -8px $blue
        padding 1em

    img.portrait
        border 6px solid $blue
        margin 1em
        margin-top 0
        margin-left auto
        margin-right auto
