$footer-bg = $brown
$footer-fg = $white
$footer-anchor-color = $blue

footer
    padding-top 6em
    padding-bottom 4em
    background-color $footer-bg
    color $footer-fg
    h1
        font-size 60px
    h2
        font-size 36px
    a
        color $footer-anchor-color

    .byline
        padding-top 4em
        padding-bottom 4em
