$footer-bg = $brown
$footer-fg = $white

footer
    padding-top 6em
    padding-bottom 6em
    background-color $footer-bg
    color $footer-fg
    h1
        font-size 60px
    h2
        font-size 54px
