$header-font-color = $white
$header-border-color = $brown
$shadow-color = black

header
    background-image url('../images/hardwood_flatware.jpg')
    background-position center center
    background-attachment fixed
    color $header-font-color
    border-bottom 20px solid $header-border-color
    box-shadow($shadow-color)

    h1
        font-size 44px

section.intro
    h1
        font-size 38px
