$header-font-color   = $white
$header-border-color = $brown

$services-bg = $brown
$services-fg = $white

$service-title-bg = $dusty-blue
$service-title-fg = $white

$shadow-color = black

$blog-posts-anchor-color = $dusty-blue

header
    background-image url('../images/hardwood_flatware.jpg')
    background-position center center
    background-attachment fixed
    color $header-font-color
    border-bottom 20px solid $header-border-color
    _box-shadow($shadow-color)

    h1
        font-size 44px

section.intro
    p
        margin-top 30px

    .large
        font-size 2em

section.services
    padding-top 2em
    padding-bottom 2em

    background-color $services-bg
    color $services-fg

    //_inset-shadow($shadow-color)

    .content
        padding-top 4em
        padding-bottom 4em

    h2
        background-color $service-title-bg
        color $service-title-fg
        padding 10px

section.blog-posts
    a
        color $blog-posts-anchor-color
