$header-font-color   = $white
$header-border-color = $brown

$services-bg = $brown
$services-fg = $white

$service-title-bg = $dusty-blue
$service-title-fg = $white
$service-img-shadow = $dusty-blue

$shadow-color = black

$blog-posts-anchor-color = $dusty-blue

$intro-headline = $blue
$intro-text-shadow = $brown

header
    background-image url('../images/hardwood_flatware.jpg')
    background-position center center
    background-attachment fixed
    color $header-font-color
    border-bottom 60px solid $header-border-color
    _box-shadow($shadow-color)

    h1
        font-size 64px
        //background-color $blue-alpha
        text-shadow 2px 2px $red
        padding 0.5em 0

        .quote
            font-size 144px

section.welcome
    background-image url('../images/big_portrait.jpg')
    background-position center center
    background-size cover
    background-repeat no-repeat
    border-bottom 20px solid $header-border-color
    _box-shadow($shadow-color)

    .copy
        a
            color $red

        h1
            margin-bottom 10px
        h2
            font-size 50px
            color $blue
            text-shadow 2px 2px $brown
            margin-top 0px
            margin-bottom 20px

        background-color $white
        background-color $white-alpha
        box-shadow 0 0 4px 4px $white-alpha
        padding-top 1em
        padding-bottom 1em

section.welcome, section.webinars
    h1
        font-size 60px
        color $intro-headline

        text-shadow 2px 2px $intro-text-shadow

section.hire-me
    background-color $services-bg
    color $services-fg
    _box-shadow($shadow-color)

section.what-is-etiquette
    background-image url('../images/dinner_party.jpg')
    background-position center center
    z-index -1000
    position relative

    .copy
        background-color $blue
        background-color $blue-alpha
        padding 2em

    p
        margin-top 30px

    .large
        font-size 2em

    dt
        font-size 2em
        padding-left 32px

    dd
        font-size 1.5em
        padding-left 48px

section.blog-posts
    a
        color $blog-posts-anchor-color

    h1
        color $red
        text-shadow 1px 1px $brown

section.about-me
    background-color $brown
    height auto
    _box-shadow($shadow-color)

    .copy
        background-color rgba(255, 255, 255, 0.7)
        box-shadow 0px 14px 0px -8px $blue
        padding 1em

    img.portrait
        border 6px solid $blue
        margin 1em
        margin-top 0
        margin-left auto
        margin-right auto

section.services
    padding-top 2em
    padding-bottom 2em

    background-color $services-bg
    color $services-fg
    _box-shadow($shadow-color)

    //_inset-shadow($shadow-color)

    p
        font-size 24px
        padding-left 10px
        padding-right 10px

    h2
        background-color $service-title-bg
        color $service-title-fg
        padding 10px

    img.service
        margin-bottom 10px
        box-shadow 0 10px 0 -4px $service-img-shadow
        margin-left auto
        margin-right auto

