// Variables

$public-image-path = '../images/'

$small = 'screen and (max-width: 480px)'
$tablet = 'screen and (min-width: 768px)'
$medium = 'screen and (min-width: 992px)'
$retina = 'all and (-webkit-min-device-pixel-ratio: 1.5)'

// colors
$white = #eee
$white-alpha = rgba(255, 255, 255, 0.8)
$brown = #2A2124
$blue  = #73CDDA
$red = #A0152C
$red-alpha = rgba(160, 21, 44, 0.7)
$blue-alpha = rgba(115, 205, 218, 0.7)
$dusty-blue = #65ABB6

$shadow-color = rgb(15,15,15)
