// Variables

$public-image-path = '../images/'

$small = 'screen and (max-width: 480px)'
$tablet = 'screen and (min-width: 768px)'
$retina = 'all and (-webkit-min-device-pixel-ratio: 1.5)'

// colors
$white = #eee
$brown = #2A2124
$blue = #73CDDA
