// Useful mixins for CSS3 effects.
@import 'nib'

// Scaffolding & mixins
@import '_variables'
@import '_mixins'
@import '_fonts'

@import '_footer'

// Pages
@import '_about'
@import '_index'
@import '_nav'

// Components
@import '_forms'

.btn-pat
    background-color $blue
    color $white

.filigree-up
    padding-bottom 2em

.filigree-down
    padding-top 2em

ul
    list-style none

::selection
    background-color $blue
    color $brown
    text-shadow none

::-moz-selection
    background-color $blue
    color $brown
    text-shadow none

body
  background-image url('../images/bg_tile.jpg')
  width 100%

header, section
    padding-top 4em
    padding-bottom 4em

section
    h1
        font-size 50px
        margin-bottom 30px

img
    display block

.topper
    //background-image url('../images/topper.png')
    background-repeat no-repeat
    background-position center 110px
    //height 164px
    max-width 100%
