// Useful mixins for CSS3 effects.
@import 'nib'

// Make browsers render HTML elements consistently.
@import 'normalize'

// Scaffolding & mixins
@import '_variables'
@import '_mixins'
@import '_fonts'

// Pages
@import '_index'

body
  background-image url('../images/bg_tile.jpg')

header, section
    padding-top 4em
    padding-bottom 4em
