// Useful mixins for CSS3 effects.
@import 'nib'

// Scaffolding & mixins
@import '_variables'
@import '_mixins'
@import '_fonts'

@import '_footer'

// Pages
@import '_index'
@import '_nav'

body
  background-image url('../images/bg_tile.jpg')

header, section
    padding-top 4em
    padding-bottom 4em

section
    h1
        font-size 50px
        margin-bottom 30px

img
    display block
