extends templates/layouts/_base
block body
  header
    include templates/nav

  article
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1 Etiquette for Teens
          h2 Social Coordination and Leadership Skills

          p.
            Teenagers today are faced with pressures not conceived of
            twenty-five years ago.  Thirteen to seventeen year olds
            (prime teen years) must adapt to technology, stay away
            from drugs and alcohol, hold down a part-time job, learn
            to drive, and prepare for college. All of those
            challenges, and still be happy, fun loving, warm and
            friendly!

          p.
            This would be challenging at any age!

          p.
            Do I think etiquette and table manners is the cure for
            teenage troubles?  Not totally, but I do feel that
            etiquette training and table manners will give your teen
            poise, confidence and a type of ‘social coordination’ in
            many situations.

          p.
            When a young person is confident in who he or she is, peer
            pressure tends to lessen its hold on them.  Being an
            individual among many becomes more achievable.  Your
            teenager begins to learn that society does have many rules
            but they are meant for everyone.  Your teenager learns
            that we all benefit when we respect ourselves and each
            other.

          p.
            Learning the soft skills today will only better prepare
            your teenager for the challenges of their teenage years
            and prepare them for the challenges of young adulthood.
