extends templates/layouts/_base
block body
  header
    include templates/nav

  article
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1 Etiquette for Professionals
          h2 Professional – Positive and Polished

          p Today’s business world has gone global.  Your office space may be a cubicle in a bee hive of cubicles, a corner office on the 15th floor, a spare bedroom, or you and your laptop at the corner coffee shop.

          p But no matter where your professional life finds you, no matter how many degrees you’ve managed to acquire - good business etiquette is an integral part of your professional image.  It is equally as important as your technical skill.  Competition for jobs is high to say the least.  Knowing proper business etiquette is a power tool that will give you an edge in the business arena.

          p These soft skills can be acquired and put to use immediately.  Employers are looking for professionals who possess class.   Not only knowing which fork to use but how to make their clients feel comfortable and confident in doing business with them.

          p.
            Projecting a positive image, and being comfortable in your
            own skin will distinguish you from the competition.

          p.
            My goal is to teach you how to build your individual bridge
            between the boardroom and the dining room.
