extends templates/layouts/_base
block body
  header
    include templates/nav

  article
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h1 Etiquette for Children
          h2 Courteous and Confident

          p.
            Moms and Dads have their hands full!  They may be a
            single parent household, two parents and two careers, a
            stay at home mom or dad, or a parent who home schools.
            They might even be caring for an aging parent. Or a
            grandparent raising their grandchildren. Whatever the
            situation may be, the fact remains that society has
            dictated that their child must be the brightest,
            smartest, fastest, and best at everything.  But…

          p.
            What is becoming more apparent is that these bright and
            competitive children can often lack the manners and
            social skills which were commonplace in the education of
            past generations.

          p.
            However, such soft skills remain necessary for the
            self-image and self-esteem that parents strive so hard to
            instill in their children.

          p.
            My goal is to empower young people with leadership and
            social skills in order to become confident and
            contributing citizens in their global world.

          p.
            My classes are fun and informative programs that include
            role playing exercises and exciting structured lessons.
