extends templates/layouts/_base
block body
  header
    include templates/nav

    .container
      .row
        .col-sm-12
          img.logo.img-responsive.center-block(src="../images/logo.png")

      .row
        .col-sm-12.text-center
          h1 Welcome to Eyes Up, Forks Down
          h2 Make a great first impression every time!

  include templates/intro-section

  include templates/services-section

  include templates/blog-posts-section
