extends templates/layouts/_base
block body
  header
    include templates/nav

    .container
      .row
        .col-sm-12
          img.logo.img-responsive.center-block(src="../images/logo.png")

      .row
        .col-sm-12.text-center
          h1.large.
            Set your professional pace<br>
            through social grace!


  include templates/_welcome

  include templates/_webinars

  include templates/_hire-me

  include templates/intro-section

  include templates/services-section

  include templates/blog-posts-section

  include templates/_about-pat

  include templates/_seminar-schedule
