extends templates/layouts/_base
block body
  header
    .container
      .row
        .col-sm-12
          img.logo.img-responsive.center-block(src="//placehold.it/500&text=Logo")

      .row
        .col-sm-12.text-center
          h1 Welcome to Eyes Up, Forks Down
          h2 Make a great first impression every time!

  include templates/intro-section

  include templates/services-section
