section#about-me.about-me
  .container
    include _filigree-up

    .row
      .col-sm-5.col-sm-push-7
        img.portrait.img-responsive.hidden-xs.hidden-sm(src="../images/pat_portrait_tall.jpg")
        img.portrait.img-responsive.center-block.hidden-md.hidden-lg(src="../images/pat_portrait.jpg")

      .col-sm-7.col-sm-pull-5.copy

        h1 About Me
        h2 Patricia Woods, Professional Etiquette and Lifestyle Coach
        p.
          I have been a resident of the Clarksville and Hopkinsville area(s)
          since 1988.  As a military spouse, I travelled extensively, and
          had the privilege of meeting, working and socializing with people
          from all over the globe.  Observing different cultures and
          traditions proved both educational and exciting.

        p.
          <em>What consistently held my interest was how people interacted
          with each other</em>.  Why did they behave differently from me?
          What traditions were important to them?  In my search for
          understanding, one common element was predominant – there were
          rules of behavior to be taught, followed and practiced.  Simply
          put, there was “etiquette”!

        img.signature.img-responsive.pull-right(src="/images/signature.png")

    include _filigree-down
