section.hire-me
  .container.text-center
    include _filigree-up

    .row
      .col-sm-12
        h1 Need Some One-on-One Coaching?

    .row
      .col-sm-8.col-sm-offset-2
        h2 Hire me as a consultant

        p.
          I'll make sure that you can successfully navigate your next job
          interview, dinner party, campaign fundraiser, or simply have a more
          gracious, less stressful life.


    include _filigree-down
