.row
  .col-sm-12.text-center
    form#mc-subscribe.subscribe-form.form-inline(role="form",action="//elcreativegroup.us9.list-manage.com/subscribe/post?u=44c6399d595a10adb3593d069&amp;id=92480fb524", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate)
      div(style="position: absolute; left: -5000px;")
        input(type="text",name="b_44c6399d595a10adb3593d069_92480fb524",tabindex="-1",value="")

      .form-group
        label.sr-only(for="mce-EMAIL") Subscribe to our mailing list
        input#mce-EMAIL.email.form-control.input-lg(type="email",value="",name="EMAIL",placeholder="Your email",required)

      button.btn.btn-lg.btn-pat(type="submit",value="Subscribe",name="subscribe") Subscribe
