section.schedule
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        h1 Let Me Share My Skills and Knowledge With You
        p.lead.
          As an etiquette consultant accredited by the Etiquette and Leadership
          Institue, I can help you become the best version of you.

    .row
      .col-sm-8.col-sm-offset-2.text-center
        h2 Sign Up for My Newsletter
        p.lead Stay up-to-date on my next webinar, get free advice and tips, and special deals!

    include _newsletter-form
