section.webinars
  .container.text-center
    .row
      .col-sm-12
        h1 Attend My Free Webinars
        p.
          Etiquette is a complicated subject. Different rules apply to
          different situations, and I'm here to you help you sort them out.  On
          a regular basis, I'll be holding a free seminar that's open to the
          public. I'll give a talk on one of the finer points of etiquette and
          take questions from you, the audience.

    .row
      .col-sm-8.col-sm-offset-2
        h2 Sign Up for My Newsletter
        p.lead.
          Stay up-to-date on my next webinar, and get free advice, tips, and special deals!

    include _newsletter-form
