section.welcome
  .container
    .row
      .col-sm-7.text-center.copy
        h1 Greetings!
        h2 I'm Patricia Woods.
        p.lead.
          I'm a Certified Etiquette Consultant taught by the <a target="_blank"
            href="//www.etiquetteleadership.com/"> Etiquette and Leadership
            Institute</a>, and it's my job to help you navigate your
            professional and social world, ensuring that you make the best
            impression possible on your peers, boss, the hiring manager
            interviewing you for your dream job, and everyone else.

        img.img-responsive.center-block(src="../images/eli_logo.png")
