section.blog-posts
  .container
    .row
      .col-sm-6.col-sm-offset-2
        .row
          .col-sm-12
            article
              h2 Let's Talk About Your Job Interview
              h3 Got a big one coming up? You need to make a perfect first impression
              p.
                "Oh! never thee mind about that, Bildad," said Peleg. "Has he ever
                whaled it any?" turning to me. "Killed more whales than I can...
              p
                a(href="#") Read more...

        .row
          .col-sm-12
            article
              h2 Let's Talk About Your Job Interview
              h3 Got a big one coming up? You need to make a perfect first impression
              p.
                "Oh! never thee mind about that, Bildad," said Peleg. "Has he ever
                whaled it any?" turning to me. "Killed more whales than I can...
              p
                a(href="#") Read more...

      .col-sm-4
        h1 From the Blog
        p.large.
          Bite sized advice from Ms. Pat
