section.blog-posts
  .container
    .row
      .col-sm-6.col-sm-offset-2
        article
          h2 Let's Talk About Your Job Interview
          h3 Got a big one coming up? You need to make a perfect first impression
          p.
            "Oh! never thee mind about that, Bildad," said Peleg. "Has he ever
            whaled it any?" turning to me. "Killed more whales than I can
            count, Captain Peleg." "Well, bring him along then." And, after
            signing the papers, off I went; nothing doubting but that I had
            done a good morning's work, and that the Pequod was the identical
            ship that Yojo had provided to carry Queequeg and me round the
            Cape. But I had not proceeded far, when I began to bethink me that
            the Captain with whom I was to sail yet
