section.blog-posts
  .container
    .row
      .col-sm-4.col-sm-push-8
        h1 From the Blog
        p.large.
          Bite sized advice from Ms. Pat.

      .col-sm-6.col-sm-offset-2.col-sm-pull-4
        .row
          .col-sm-12
            article
              h2 Etiquette for Children
              p.
                Moms and Dads have their hands full! They may be a single parent
                household, two parents and two careers, a stay at home mom or
                dad, or a parent who home schools. They might even be caring for
                an aging parent. Or a grandparent raising their grandchildren.
                Whatever the situation may be, the fact remains that society has
                dictated that their child must be the brightest, smartest,
                fastest, and best at everything. But…
              p
                a(href="/etiquette-for-children") Read more...

        .row
          .col-sm-12
            article
              h2 Etiquette for Professionals
              p.
                Today’s business world has gone global. Your office space may
                be a cubicle in a bee hive of cubicles, a corner office on the
                15th floor, a spare bedroom, or you and your laptop at the
                corner coffee shop.

              p.
                But no matter where your professional life finds you, no matter
                how many degrees you’ve managed to acquire - good business
                etiquette is an integral part of your professional image.

              p
                a(href="/etiquette-for-professionals") Read more...

