footer#contact-me
  .container
    .row
      .col-sm-8.col-sm-offset-2.text-center
        h1 Give me a call
        h2
          a(href="tel:+19319994444") 931 999 4444

        h1 Or send me an email
        h2
          a(href="mailto:patwoods12@yahoo.com") pat@eyesupforksdown.com

        .byline
          p &copy;2014 Eyes Up, Forks Down
          p Conceived and concocted by &nbsp;
            a(href="//elcreativegroup.com", target="_blank") Elliott &amp; Lorenson

        p
          a(href="#top") Back to Top

    include _filigree-down
