section.what-is-etiquette(data-1280="background-position: center 100px;", data-3400="background-position: center -500px;")
  .container
    .row
      .col-sm-8.col-sm-offset-2.copy
        h1.text-center.huge What is Etiqutte?
        p.
          Let’s first understand the meaning of the word <b>etiquette</b>.
          According to the Oxford English Dictionary:

        dt etiquette
        dd.
          The customary code of polite behavior in society or among members
          of a particular profession or group.

        p.
          Simply put, etiquette is rules of behavior that help everyone
          feel comfortable around one another. Using proper etiquette
          shows respsect for yourself and others.

        p.
          With practice, these social graces become a part of who you are in
          your personal and your professional life.

