section.intro
  .container
    .row
      .col-sm-12

    .row
      .col-sm-8.col-sm-offset-2
        h1.text-center.huge What is etiqutte?
        p.
          Let’s first understand the meaning of the word <b>etiquette</b> or
          <b>etiquets</b>.

        p.
          The word etiquette is of French origin and loosely translated it
          means card or ticket. The story goes that Louis XIV’s gardener had a
          difficult time keeping the dukes and duchesses from walking through
          the gardens. He put up signs to say “keep off the grass”. When the
          signs had little effect the king decreed that no one was to go beyond
          the bounds of the etiquets. Later, the word came to mean a card or
          ticket instructing guests on behavior at court functions.

        p.large.
          Simply put etiquette means rules of behavior that help everyone
          feel comfortable around one another. Etiquette is respecting
          yourself and respecting others.

        p.
          Etiquette is not mean or snobbish. The practice of proper etiquette
          and table manners puts others at ease making it a pleasure to be in
          your company. Etiquette is flexible and adaptable, whether it is
          called home training, social graces, or a pecking order most of the
          ‘rules’ are common sense and easy to follow.

        p.
          With practice the social graces become a part of who you are in
          your personal and your professional life.



    .row
      .col-sm-4.col-sm-offset-2
        img.signature.img-responsive(src="/images/signature.png")
