section.intro
  .container
    .row
      .col-sm-12
        h1.text-center.huge What is etiqutte?

    .row
      .col-sm-8.col-sm-offset-2
        .row
          .col-sm-8
            p.
              Let’s first understand the meaning of the word etiquette or etiquets.
          .col-sm-4


        .row
          .col-sm-8
            p blah blah

          .col-sm-4
            img.signature.img-responsive(src="/images/signature.png")
