nav.nav.nav-eyes-up
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#nav-toggle") Nav

    #nav-toggle.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") Home

        li
          a(href="/about-me") About Me

        li
          a(href="/#contact-me") Contact Me
