section.services
  .container
    .row
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/images/filigree-horizontal.png")

  .content
    .container
      .row
        .col-sm-12
          h1.text-center Who Benefits From Understanding Etiquette?

      .row
        .col-sm-4
          h2 Children
          img.img-responsive(src="/images/children.jpg")
          p.
            Give your child the gift of a foundation for life

        .col-sm-4
          h2 Teens
          img.img-responsive(src="/images/teens.jpg")
          p.
            Teach your teenager critical life skills to help them prepare for
            adult life

        .col-sm-4
          h2 Professionals
          img.img-responsive(src="/images/professionals.jpg")
          p.
            Empower yourself with a professional edge, and never worry about
            bombing an interview again!

      .row
        .col-sm-4
          h2 Dogs
          p.
            Bark bark bark bark, bark bark bark bark bark bark. Bark bark!

        .col-sm-4
          h2 Cats
          p.
            Meow mew mrow, meow meow.

        .col-sm-4
          h2 Goats
          p.
            Baaah

  .container
    .row
      .col-sm-8.col-sm-offset-2
        img.img-responsive(src="/images/filigree-horizontal-upsidedown.png")
