.topper

section.services
  .container
    include _filigree-up

  .content
    .container
      .row
        .col-sm-12
          h1.text-center Who Benefits From Understanding Etiquette?
          p.large.
            Everyone! We all benefit from etiquette instruction. Whether it is
            one-on-one, or a group a little training can go a long way in building
            your confidence. You will learn to easily navigate an introduction, an
            interview, a formal dinner, or a gathering in your own home.

      .row
        .col-sm-6
          h2 Children
          img.service.img-responsive(src="/images/children.jpg")
          p.
            Proper etiquette training gives children the confidence to navigate
            new social situations, boosts self-esteem, and bolsters character.

        .col-sm-6
          h2 Teens
          img.service.img-responsive(src="/images/teens.jpg")
          p.
            Proper etiquette training gives teens the tools to handle new
            social situations and equips them with appropriate behaviors to
            allow them to stand out among their peers with grace, confidence,
            and finesse.

      .row
        .col-sm-6
          h2 Professionals
          img.service.img-responsive(src="/images/professionals.jpg")
          p.
            Empower yourself with a professional edge!

        .col-sm-6
          h2 Seniors
          img.service.img-responsive(src="/images/adults.jpg")
          p.
            Stay apprised of expected behavior in evolving social situations to
            impress friends and peers!

  .container
    include _filigree-down
